{% extends 'base.html' %}

{% block title %}Editar Aparelho{% endblock %}

{% block content %}
<main class="mt-4">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title">Editar Aparelho</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row mb-3">
                            <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label text-end">{{ field.label }}</label>
                            <div class="col-sm-9">
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-2">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-end">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a href="{% url 'aparelho:list_aparelho' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}