{% extends 'base.html' %}

{% block title %}Criar Aparelho{% endblock %}

{% block content %}
<header>
    <nav class="navbar bg-primary navbar-dark navbar-expand-sm py-3">
        <div class="container" id="nav-container">
            <a href="#" class="navbar-brand">TechCell-Pro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuNavbar">
                <div class="navbar-nav ms-auto">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Clientes</a>
                    <a href="#" class="nav-link active">Aparelhos</a>
                    <a href="#" class="nav-link">Manutenção</a>
                    <a href="#" class="nav-link">Sobre</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="mt-4">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title">Criar Aparelho</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row mb-3">
                            <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label text-end">{{ field.label }}</label>
                            <div class="col-sm-9">
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-2">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-end">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a href="{% url 'aparelho:list_aparelho' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
