{% extends 'base.html' %}

{% block title %} Listar Fornecedores {% endblock %}

{% block content %}
<header>
    <nav class="navbar bg-primary
     navbar-dark navbar-expand-sm py-3" id="navbar">
    <div class = "container" id = "nav-container d-flex align-items-center">
            <a href="#" class = "navbar-brand">
                TechCell-Pro 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="menuNavbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id ="menuNavbar">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav ms-auto">
                        <a href="{% url 'index' %}" class="nav-link">Home</a>
                        <a href="{% url 'cliente:list_cliente' %}" class="nav-link">Clientes</a>
                        <a href="{% url 'funcionario:list_funcionario' %}" class="nav-link">Funcionário</a>
                        <a href="{% url 'aparelho:list_aparelho' %}" class="nav-link">Aparelhos</a>
                        <a href="{% url 'appConfirmarReparo:lista_reparos' %}" class="nav-link">Reparo</a>
                        <a href="{% url 'fornecedor:list_fornecedor' %}" class="nav-link active">Fornecedor</a>
                        <a href="{% url 'ferramenta:list_ferramenta' %}" class="nav-link">Ferramentas</a>
                        <a href="{% url 'servico:list_servico' %}" class="nav-link">Serviços</a>
                        <a href="{% url 'peca:list_peca' %}" class="nav-link">Peças</a>
                        <a href="{% url 'produto:list_produto' %}" class="nav-link">Produtos</a>
                </div>
            </div>
        </nav>       
    </div>
</header>
<div class="container mt-5">
    <h2>Listar Fornecedores</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>CNPJ</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor.nome }}</td>
                <td><a href="#">{{ fornecedor.email }}</a></td>
                <td>{{ fornecedor.telefone }}</td>
                <td>{{ fornecedor.cnpj }}</td>
                <td>{{ fornecedor.rua }}</td>
                <td>{{ fornecedor.numero }}</td>
                <td>{{ fornecedor.bairro }}</td>
                <td>{{ fornecedor.cidade }}</td>
                <td>{{ fornecedor.estado }}</td>
                <td>{{ fornecedor.cep }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="{% url 'fornecedor:update_fornecedor' fornecedor.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                        <a href="{% url 'fornecedor:delete_fornecedor' fornecedor.id %}" class="btn btn-sm btn-outline-danger">Deletar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
