{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<header>
    <nav class="navbar bg-primary navbar-dark navbar-expand-sm py-3">
        <div class="container" id="nav-container">
            <a href="#" class="navbar-brand">TechCell-Pro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuNavbar">
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link active">Produtos</a>
                    <a href="#" class="nav-link">Clientes</a>
                    <a href="#" class="nav-link">Manutenção</a>
                    <a href="#" class="nav-link">Sobre</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="mt-4">
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Produtos</h1>
        <a href="{% url 'criar_produto' %}" class="btn btn-success mb-3">Novo Produto</a>
        <ul class="list-group">
            {% for produto in produtos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'visualizar_produto' produto.pk %}">{{ produto.nome }}</a>
                <div>
                    <a href="{% url 'editar_produto' produto.pk %}" class="btn btn-primary btn-sm me-2">Editar</a>
                    <a href="{% url 'excluir_produto' produto.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
