{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<header>
    <nav class="navbar bg-primary navbar-dark navbar-expand-sm py-3">
        <div class="container" id="nav-container">
            <a href="#" class="navbar-brand">TechCell-Pro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuNavbar">
                <div class="navbar-nav ms-auto">
                        <a href="{% url 'index' %}" class="nav-link">Home</a>
                        <a href="{% url 'cliente:list_cliente' %}" class="nav-link">Clientes</a>
                        <a href="{% url 'funcionario:list_funcionario' %}" class="nav-link">Funcionário</a>
                        <a href="{% url 'aparelho:list_aparelho' %}" class="nav-link">Aparelhos</a>
                        <a href="{% url 'appConfirmarReparo:lista_reparos' %}" class="nav-link">Reparo</a>
                        <a href="{% url 'fornecedor:list_fornecedor' %}" class="nav-link">Fornecedor</a>
                        <a href="{% url 'ferramenta:list_ferramenta' %}" class="nav-link">Ferramentas</a>
                        <a href="{% url 'servico:list_servico' %}" class="nav-link">Serviços</a>
                        <a href="{% url 'peca:list_peca' %}" class="nav-link">Peças</a>
                        <a href="{% url 'produto:list_produto' %}" class="nav-link active">Produtos</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="mt-4">
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Lista de Produtos</h2>
            <a href="{% url 'produto:create_produto' %}" class="btn btn-success">Criar Produtos</a>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Cod.Barras</th>
                                <th>Preço</th>
                                <th>Categoria</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.nome }}</td>
                                    <td>{{ produto.descricao }}</td>
                                    <td>{{ produto.cod_barras }}</td>
                                    <td>{{ produto.preco }}</td>
                                    <td>{{ produto.categoria }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'produto:update_produto' produto.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="{% url 'produto:delete_produto' produto.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}