{% extends 'base.html' %}

{% block title %}Excluir Ferramenta{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Excluir Ferramenta</h2>
    <p>Tem certeza de que deseja excluir a ferramenta <strong>{{ ferramenta.nome }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'ferramentaApp:list_ferramentas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
