{% extends 'base.html' %}

{% block title %}Detalhes da Ferramenta{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Detalhes da Ferramenta</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Nome:</strong> {{ ferramenta.nome }}</li>
        <li class="list-group-item"><strong>Descrição:</strong> {{ ferramenta.descricao }}</li>
        <li class="list-group-item"><strong>Código:</strong> {{ ferramenta.codigo }}</li>
        <li class="list-group-item"><strong>Quantidade Disponível:</strong> {{ ferramenta.quantidade_disponivel }}</li>
        <li class="list-group-item"><strong>Condição:</strong> {{ ferramenta.get_condicao_display }}</li>
        <li class="list-group-item"><strong>Fornecedor:</strong> {{ ferramenta.fornecedor }}</li>
    </ul>
    <a href="{% url 'ferramentaApp:update_ferramenta' ferramenta.pk %}" class="btn btn-warning mt-3">Editar</a>
    <a href="{% url 'ferramentaApp:list_ferramentas' %}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}
