{% extends 'base.html' %}

{% block title %}Detalhes do Reparo{% endblock %}

{% block content %}


<main class="mt-4">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title">Detalhes do Reparo</h2>
            </div>
            <div class="card-body">
                <hr>
                <dl class="row">
                    <dt class="col-sm-3">Protocolo:</dt>
                    <dd class="col-sm-9">{{ reparo.protocolo }}</dd>

                    <dt class="col-sm-3">Aparelho:</dt>
                    <dd class="col-sm-9">{{ reparo.aparelho.nome }}</dd>

                    <dt class="col-sm-3">Status:</dt>
                    <dd class="col-sm-9">{{ reparo.get_status_display }}</dd>

                    <dt class="col-sm-3">Data de Início:</dt>
                    <dd class="col-sm-9">{{ reparo.data_inicio|date:"d/m/Y H:i" }}</dd>

                    <dt class="col-sm-3">Data de Conclusão:</dt>
                    <dd class="col-sm-9">{{ reparo.data_conclusao|date:"d/m/Y H:i" }}</dd>

                    <dt class="col-sm-3">Custo Estimado:</dt>
                    <dd class="col-sm-9">R$ {{ reparo.custo_estimado }}</dd>

                    <dt class="col-sm-3">Cliente Notificado:</dt>
                    <dd class="col-sm-9">{{ reparo.cliente_notificado|yesno:"Sim,Não" }}</dd>
                </dl>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'appConfirmarReparo:confirmar_reparo' pk=reparo.pk %}" class="btn btn-primary">Editar Reparo</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
