<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Reparo</title>
</head>
<body>
    <h1>Detalhes do Reparo</h1>
    
    <div>
        <h2>Status:</h2>
        <p>{{ reparo.status }}</p>
    </div>
    
    <div>
        <h2>Data de Início:</h2>
        <!-- Formatação da data -->
        <p>{{ reparo.data_inicio|date:"Y-m-d H:i:s" }}</p>
    </div>
    
    <!-- Adicione outros detalhes do reparo conforme necessário -->
    
    <a href="{% url 'appConfirmarReparo:confirmar_reparo' reparo.pk %}">Confirmar Reparo</a>
</body>
</html>
