{% extends 'base.html' %}

{% block title %} Listar Funcionários {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Listar Funcionários</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.nome }}</td>
                <td><a href="#">{{ funcionario.email }}</a></td>
                <td>{{ funcionario.telefone }}</td>
                <td>{{ funcionario.cpf }}</td>
                <td>{{ funcionario.cargo }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="{% url 'funcionario:update_funcionario' funcionario.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                        <a href="{% url 'funcionario:delete_funcionario' funcionario.id %}" class="btn btn-sm btn-outline-danger">Deletar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
